.home-container {
  justify-content: center;
  align-items: center;
  background-image: url('../../../src/images/04.jpg');
  background-size: cover;
  padding-bottom: 250px;
}



.form-container {
  width: 390px;
  padding: 0px;

  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 515px;

}




.box01 {
  background-color: #ffffff;
}





label {
  font-size: 16px;
  color: #333333;
  background-color: #15b23700;
}